.searchbar {
  width: 90%;
  display: flex;
  margin: 0 auto;
  margin-top: 1.5rem;
  & input {
    width: 96%;
    height: 3.3rem;
    border: none;
    background: $secondary;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  & button {
    width: 4%;
    height: 3.3rem;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    & svg {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
