.menus {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  &-dropdownmenu {
    &-1 .color {
      background: #3282f7;
      color: #ffffff;
    }
    &-2 .color {
      background: #68d9a4;
      color: #ffffff;
    }
    &-3 .color {
      background: #ed6454;
      color: #ffffff;
    }
  }
}

.dropdown {
  position: relative;
  width: 10rem;
  height: 3.5rem;
  cursor: pointer;
  padding: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  &__arrow {
    position: absolute;
    height: 100%;
    width: 20%;
    right: 0;
    top: 0;
    transition: transform 0.2s linear;
    fill: white;
    display: flex;
    justify-content: center;
    align-items: center;
    &.expanded {
      transform: rotate(-180deg);
    }
  }
}
.radius {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown__list-container {
  position: relative;
  margin-top: 1rem;
}

.dropdown__list {
  display: none;
  width: 100%;
  position: absolute;
  box-shadow: 0px 3px 2px 0 #a2a4b2;
  transition: opacity 0.1s cubic-bezier(0, 0, 0.38, 0.9), max-height 0.5s cubic-bezier(0, 0, 0.38, 0.9);
  overflow: hidden;
  opacity: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  &-item {
    color: #ffffff;
    padding-left: 1.2rem;
    transition: background-color 0.1s linear, color 0.1s linear;
    list-style-position: inside;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0.25rem 0;
    &:hover,
    &:focus {
      background-color: #00c2ff;
      color: white;
    }
  }
}

.grille {
  max-width: 1300px;
  margin: 10rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 190px);
  justify-content: center;
}
.dropdown ul {
  margin: 0;
  padding: 0;
}

.selected_item {
  height: 68%;
}

.input_selected {
  height: 2rem;
  margin: 0.6rem 0;
  padding-left: 0.6rem;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  width: 80%;
  &:hover {
    background-color: #00c2ff;
  }
  &:focus {
    border: none;
  }
}

.open {
  opacity: 1;
  &_input {
    width: 36rem;
  }
}
