* {
  font-family: "DM Sans";
}

header p {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
}

.searchbar input::-moz-placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.searchbar input:-ms-input-placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.searchbar input::placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.tag {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.dropdown__list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.card-description-top-title p {
  font-weight: 400;
}

.card-description-top-time p {
  font-weight: 700;
}

span {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
}

.input_selected {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.card {
  font-family: "Lato";
  font-size: 18px;
  line-height: 22px;
}

.card-description-bottom {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}
.card-description-bottom-recette {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}

ul,
li {
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  justify-content: center;
}

body {
  width: 1400px;
}

header {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header p {
  margin-top: -0.2rem;
  color: #d04f4f;
}

.searchbar {
  width: 90%;
  display: flex;
  margin: 0 auto;
  margin-top: 1.5rem;
}
.searchbar input {
  width: 96%;
  height: 3.3rem;
  border: none;
  background: #e7e7e7;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.searchbar button {
  width: 4%;
  height: 3.3rem;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.searchbar button svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tags {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
}
.tags-container {
  display: flex;
}
.tags .ingredient {
  background: #3282f7;
}
.tags .appareil {
  background: #68d9a4;
}
.tags .ustensil {
  background: #ed6454;
}
.tags .ustensil p::first-letter {
  text-transform: capitalize;
}

.tag {
  background: #3282f7;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  border-radius: 5px;
  margin-left: 2rem;
  width: 10rem;
  height: 3rem;
}
.tag:first-child {
  margin-left: 0;
}
.tag p {
  width: 75%;
  text-align: center;
}
.tag svg {
  height: 100%;
  cursor: pointer;
}

.menus {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
.menus-dropdownmenu-1 .color {
  background: #3282f7;
  color: white;
}
.menus-dropdownmenu-1 .dropdown__list-item:hover,
.menus-dropdownmenu-1 .input_selected:hover {
  background-color: #63a0f9;
}
.menus-dropdownmenu-2 .color {
  background: #68d9a4;
  color: white;
}
.menus-dropdownmenu-2 .dropdown__list-item:hover,
.menus-dropdownmenu-2 .input_selected:hover {
  background-color: #91e3bd;
}
.menus-dropdownmenu-3 .color {
  background: #ed6454;
  color: white;
}
.menus-dropdownmenu-3 .dropdown__list-item:hover,
.menus-dropdownmenu-3 .input_selected:hover {
  background-color: #f28e82;
}
.menus-dropdownmenu-3 .dropdown__list-item::first-letter {
  text-transform: capitalize;
}

.dropdown {
  position: relative;
  width: 10rem;
  height: 3.5rem;
  cursor: pointer;
  padding: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.dropdown__arrow {
  position: absolute;
  height: 100%;
  width: 20%;
  right: 0;
  top: 0;
  transition: transform 0.2s linear;
  fill: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown__arrow.expanded {
  transform: rotate(-180deg);
}

.radius {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown__list-container {
  position: relative;
  margin-top: 1rem;
}

.dropdown__list {
  visibility: hidden;
  width: 100%;
  position: absolute;
  box-shadow: 0px 3px 2px 0 #a2a4b2;
  transition: opacity 0.1s cubic-bezier(0, 0, 0.38, 0.9), max-height 0.5s cubic-bezier(0, 0, 0.38, 0.9);
  overflow: hidden;
  opacity: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.dropdown__list-item {
  color: white;
  padding-left: 1.2rem;
  transition: background-color 0.1s linear, color 0.1s linear;
  list-style-position: inside;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.25rem 0;
}

.grille {
  max-width: 1300px;
  margin: 10rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 190px);
  justify-content: center;
}

.dropdown ul {
  margin: 0;
  padding: 0;
}

.selected_item {
  height: 68%;
}

.input_selected {
  height: 2rem;
  margin: 0.6rem 0;
  padding-left: 0.6rem;
  border: none;
  width: 80%;
}
.input_selected:hover {
  background-color: #00c2ff;
}
.input_selected:focus {
  border: none;
}

.open {
  opacity: 1;
  visibility: visible;
}
.open_input {
  width: 36rem;
}

main {
  margin-top: 3rem;
  width: 100%;
}

.cards-container {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 425px);
  row-gap: 2.5rem;
  margin-bottom: 5rem;
}

.card {
  border-radius: 5px;
  width: 380px;
  height: 364px;
  background-color: #e7e7e7;
}
.card-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50%;
  background-color: #c7bebe;
}
.card-description-top {
  height: 3rem;
  margin: 0 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-description-top-title {
  width: 70%;
}
.card-description-top-time {
  display: flex;
  align-items: center;
}
.card-description-top-time p {
  margin-left: 0.3rem;
}
.card-description-bottom {
  margin: 0 2%;
  display: flex;
}
.card-description-bottom-recette {
  width: 48%;
  height: 7.5rem;
}
.card-description-bottom-recette p {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.card-description-bottom-ingredients {
  width: 48%;
}
.card-description-bottom-ingredients li {
  width: 95%;
  margin-top: 0.2rem;
}/*# sourceMappingURL=main.css.map */