.tags {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  &-container {
    display: flex;
  }
  & .ingredient {
    background: $tertiary;
  }
  & .appareil {
    background: $quartary;
  }
  & .ustensil {
    background: $cinq;
  }
}
.tag {
  background: $tertiary;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: $typoPrimary;
  border-radius: 5px;
  margin-left: 2rem;
  width: 7rem;
  height: 2.5rem;
  &:first-child {
    margin-left: 0;
  }
}
