* {
  font-family: "DM Sans";
}

header p {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
}
.searchbar input::placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.tag {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.dropdown__list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.card-description-top-title p {
  font-weight: 400;
}
.card-description-top-time p {
  font-weight: 700;
}
span {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
}
