ul,
li {
  list-style: none;
}

* {
  font-family: "DM Sans";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  justify-content: center;
}
body {
  width: 1400px;
}

header {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header p {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  margin-top: -0.2rem;
  color: #d04f4f;
}

.searchbar {
  width: 90%;
  display: flex;
  margin: 0 auto;
  margin-top: 1.5rem;
}
.searchbar input::placeholder {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.searchbar input {
  width: 96%;
  height: 3.3rem;
  border: none;
  background: #e7e7e7;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.searchbar button {
  width: 4%;
  height: 3.3rem;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.searchbar button svg {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ----------------------------Tags----------------------- */

.tags {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
}
.tag {
  background: #3282f7;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  border-radius: 5px;
  margin-left: 2rem;
  width: 7rem;
  height: 2.5rem;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.tag:first-child {
  margin-left: 0;
}
/* ------------------------dropdown-------------------- */
.menus {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
.dropdownmenu-1 .dropdown {
  background: #3282f7;
}
.dropdownmenu-1 .dropdown__list {
  background: #3282f7;
}
.dropdownmenu-1 .input_selected {
  background-color: #3282f7;
  color: #ffffff;
}
.dropdownmenu-2 .dropdown {
  background: #68d9a4;
}
.dropdownmenu-2 .dropdown__list {
  background: #68d9a4;
}
.dropdownmenu-2 .input_selected {
  background-color: #68d9a4;
  color: #ffffff;
}
.dropdownmenu-3 .dropdown {
  background: #ed6454;
}
.dropdownmenu-3 .dropdown__list {
  background: #ed6454;
}
.dropdownmenu-3 .input_selected {
  background-color: #ed6454;
  color: #ffffff;
}
.dropdown {
  position: relative;
  width: 10rem;
  height: 3.5rem;
  cursor: pointer;
  padding: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.radius {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.dropdown__arrow {
  position: absolute;
  height: 100%;
  width: 20%;
  right: 0;
  top: 0;
  transition: transform 0.2s linear;
  fill: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown__arrow.expanded {
  transform: rotate(-180deg);
}
.dropdown__list-container {
  position: relative;
  margin-top: 1rem;
}

.dropdown__list {
  display: none;
  width: 100%;
  position: absolute;
  box-shadow: 0px 3px 2px 0 #a2a4b2;
  transition: opacity 0.1s cubic-bezier(0, 0, 0.38, 0.9), max-height 0.5s cubic-bezier(0, 0, 0.38, 0.9);
  overflow: hidden;
  opacity: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.grille {
  max-width: 1300px;
  margin: 10rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 190px);
  justify-content: center;
}
.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dropdown__list-item {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-left: 1.2rem;
  transition: background-color 0.1s linear, color 0.1s linear;
  list-style-position: inside;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0.25rem 0;
}
.dropdown__list-item:hover,
.dropdown__list-item:focus {
  background-color: #00c2ff;
  color: white;
}
.selected_item {
  height: 68%;
}

.input_selected {
  height: 2rem;
  margin: 0.6rem 0;
  padding-left: 0.6rem;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  width: 80%;
}
.input_selected:hover {
  background-color: #00c2ff;
}
.input_selected:focus {
  border: none;
}

.open {
  opacity: 1;
}

.open_input {
  width: 36rem;
}
/* --------------------main----------------------- */
main {
  margin-top: 3rem;
  width: 100%;
}
.cards-container {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 425px);
  row-gap: 2.5rem;
}

.card {
  border-radius: 5px;
  width: 380px;
  height: 364px;
  font-family: "Lato";
  font-size: 18px;
  line-height: 22px;
  background-color: #e7e7e7;
}
.card-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50%;
  background-color: #c7bebe;
}

.card-description-top {
  height: 3rem;
  margin: 0 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-description-top-time {
  display: flex;
  align-items: center;
}
.card-description-top-title p {
  font-weight: 400;
}
.card-description-top-time p {
  margin-left: 0.3rem;
  font-weight: 700;
}
.card-description-bottom {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  margin: 0 2%;
  display: flex;
}
.card-description-bottom-ingredients {
  width: 48%;
}
.card-description-bottom-ingredients p {
  margin-top: 0.2rem;
}
span {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
}
.card-description-bottom-recette {
  width: 48%;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}
